.App {
  padding: 20px;
  background-image: url('./assets/img/white_wolf.png');
  background-size: 30%;
  background-position-x: right;
  background-color: rgb(19, 18, 18);
  background-position-y: bottom; 
  background-repeat: no-repeat;
  min-height: 95vh;
}

.columns {
  padding-top: 10px;
}

.type-title {
  text-align: center;
}

.no-item {
  text-align: center;
}